<html>
  <head>
    <title>ML Opensource Projects</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
      .linear_reg {
        background-color: gainsboro;
        margin-left: 30px;
        width: 95%;
        height: 300px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/index">ML Open Source Proejcts</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/index">Home</a></li>
          <li><a href="/img_classifier">Image Classifiers</a></li>
          <li><a href="/linear">Linear Regression</a></li>
          <li><a href="/deepl">Decision Trees</a></li>
        </ul>
      </div>
    </nav>
    <div class="linear_reg">
      <h1 style="color: #344364">{Linear Reg Problem}</h1>
    </div>
  </body>
</html>
